<!DOCTYPE html>
<html>
<head>
    <title>Weather Updates</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Weather Updates</h1>
        <h2>{{ city }}, {{ country }}</h2>
        <h3>{{ temperature }} &deg;C</h3>
        <img src="{{ weather_icons[0] }}" alt="{{ weather_description[0] }}">
        <p>{{ weather_description[0] }}</p>
        <a href="/" class="btn btn-primary">Go Back</a>
    </div>
</body>
</html>
